
<nav class="navbar">
  <a *ngIf="userService.currentUser?.isAdmin === true" routerLink="/admin" class="navbar__item">Admin-Seite</a>
  <a routerLink="/" routerLinkActive="active" class="navbar__item">Startseite</a>
  <a routerLink="/article" routerLinkActive="active" class="navbar__item">Produkte</a>
  <a routerLink="/warenkorb" routerLinkActive="active" class="navbar__item">Warenkorb</a>

  <a routerLink="/login" routerLinkActive="active" class="navbar__item">Login</a>


</nav>
<router-outlet></router-outlet>
<body><body>
<div class="container">

  <img src="assets/Webshop.png" alt="Beschreibung des Bildes">
  <div class="text-container">
    <p>Admin Zugang:</p>
    <p>benutzer1&#64;example.com</p>
    <p>password1</p>

  </div>
</div>

</body>



