.navbar {
  background-color: #249acc;
  padding: 10px 0;
  text-align: center;

  border: 1px solid #04080c;
}

.navbar__item {
  color: #04080c;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;


}

.navbar__item:hover {
  text-decoration: underline;
  color: #ffffff;
}

.subpage {
  margin-top: 20px;
}

h2 {
  color: #249acc;
}

p {
  color: #ffffff;
}
