.navbar {
  background-color: #f1c78e;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #04080c;
}

.navbar__item {
  color: #04080c;
  text-decoration: none;
  margin: 0 20px;
  font-size: 18px;
}

.navbar__item:hover {
  text-decoration: underline;
  color: #ffffff;
}
.container {
  background-color: #f1c78e;
  border: 1px solid #04080c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  height: 80vh;

  h1 {
    margin-bottom: 20px;
    color: black;
  }

  img {
    max-width: 100%;
    height: auto;
  }
  .text-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    color: #000; /* Setzt die Textfarbe auf Schwarz */
  }

  .text-container p {
    margin: 0 0 10px 0; /* Unten 10px Abstand zwischen den Zeilen */
  }


}

