<div class ="ProduktSite">
<div *ngFor="let produkt of Produktlist">
  <div class="produktBox">
  <div #myDiv mygottenprodukt="produkt" >
  </div>
  <app-produkt (onWarenkorbAdd)=handleDataEvent($event)  [produkt]="produkt" >
  </app-produkt>
    <div class="Button">
      <div class="warenkorbButton">
        <button (click)=addToWarenkorb(produkt)>zum Warenkorb Hinzufügen</button>
      </div>
      <div class="produktButton">
        <button [routerLink]="['/standalone/' +produkt.produktId]">Produkt Ansehen</button>
      </div>
    </div>
</div>
</div>

</div>

