.ProduktSite {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto; //außen
  padding: 20px; //innen
  background-color: #249acc;
  border: 1px solid #04080c;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 1200px;

  @media (max-width: 768px) {
    padding: 10px;
  }
}

app-produkt {
  width: calc(25% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
}

.product-info {
  width: calc(75% - 20px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.product-title {
  font-size: 1.5em; //schriftgröße
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.product-description {
  font-size: 1em;
  color: #04080c;
  margin-bottom: 20px;
}

.product-image {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Button {
  display: flex;
  gap: 5px; //zwischen
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.warenkorbButton button,
.produktButton button {
  padding: 8px 8px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #04080c;
  font-weight: bold;
}

.warenkorbButton button {
  background-color: #58c65d;
  color: black;

  &:hover {
    transform: scale(1.05);
    color: white;
    background-color: #3f8f43;
  }
}

.produktButton button {
  background-color: #76d550;
  color: black;

  &:hover {
    transform: scale(1.05);
    color: white;
    background-color: #49a84d;
  }
}
