body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.Userzeug {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


  .UserListe {
    .Userlistheader {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .userlistitem {
      padding: 10px 0;
      border-bottom: 1px solid #eee;

      p {
        margin: 5px 0;

      }

      img {
        max-height: 80px;
      }
    }
  }

  .userErstellung {
    .UserErstellung {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    input[type="text"] {
      width: 100%;
      padding: 8px;
      margin: 5px 0;
      color: #04080c;
      border: 1px solid #e8e6e6;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: #e8e6e6;
    }

    .UserCheckbox {
      margin-top: 10px;

      .checkboxKunde, .checkboxAdmin {
        margin-bottom: 10px;

        label {
          margin-left: 5px;
        }
      }
    }

    .createUserButton {
      margin-top: 10px;

      button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}


.Produktstuff {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .Produktlist {
    .Produktlistheader {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .Produktlistitem {
      border-bottom: 1px solid #eee;
      padding: 10px 0;

      p {
        margin: 5px 0;
      }

      img {
        max-height: 80px;
      }
    }
  }

  .ProduktErstellung {
    .UserErstellung {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    input[type="text"] {
      width: 100%;
      padding: 8px;
      margin: 5px 0;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      background-color: #e8e6e6;
      color: #04080c;
    }

    .createProduktButton {
      margin-top: 10px;

      button {
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }
}
