.Produkt {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

.Text {
  margin-bottom: 10px;
  color: black;
}

.descriptionAndImage {
  display: flex;
  align-items: center;
}

.description {
  flex: 1;
  margin-right: 20px;
  color: black;
}


.image {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.descriptionAndImage{
  flex: 1;
  display: flex;
  justify-content: center;


}
.Button{
  display: flex;
  flex-direction:row;

  gap: 10px;
}
