<div class ="Produkt">
  <div class ="Text">
    <h4> {{ produkt.name }} </h4>
  </div>
    <div class ="descriptionAndImage bottom-div">
      <div class ="description">
    <p> {{ produkt.description }} </p>
      </div>
         <div class="image bottom-div">
           <img src ="{{produkt.imagePath}}" alt ="Cant Find it" class = "img-responsive"  style ="max-height:80px ">
         </div>
    </div>

  <div class="Button">
    <div class="warenkorbButton">
      <button (click)="addToWarenkorb()">zum Warenkorb Hinzufügen</button>
    </div>
    <div class="produktButton">
      <button routerLink="/standalone/{{produkt.produktId}}">Produkt Ansehen</button>
    </div>
  </div>
</div>
