<div class = "all">

<div class ="Produkt">
  <div class ="Text">
    <h4> {{ produkt.name }} </h4>
  </div>
    <div class ="descriptionAndImage bottom-div">
      <div class ="description">
    <p> {{ produkt.description }} </p>
      </div>
      <div>
      Anzahl vorhandener Produkte: {{produkt.amount}}
    </div>
      <div class="image bottom-div">
           <img src ="{{produkt.imagePath}}" alt ="Cant Find it" class = "img-responsive"  style ="max-height:80px ">
         </div>
    </div>

</div>
</div>
