.all {
  display: flex;
  flex-wrap: wrap; // Umbruch auf neue Zeile
  gap: 10px;
  flex-direction: row;

}

.Produkt {
  margin-top: 10px;
  border: 1px solid #04080c;
  padding: 20px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex: 1; //gleichmaeßíg verteilen
  max-width: 300px;
  margin-bottom: 5px;
  margin-right: 5px;

}

.Text {
  margin-bottom: 10px;
  color: black;
}

.descriptionAndImage {
  display: flex;
  align-items: center;
  border: 1px solid #04080c;
}

.description {
  flex: 1;
  margin-right: 20px;
  color: black;
}


.image {
  flex-shrink: 0;//schrumpfen
  width: 100px;
  height: 100px;
  overflow: hidden; //schneidet wenn zu groß
}

.image {
  flex-shrink: 0;
  width: 100px;
  height: 80px;
  overflow: hidden;

}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover; //schneidet das es den Rahmen ausfüllt
}

.descriptionAndImage{
  flex: 1;
  display: flex;
  justify-content: center;

}
.Button {
  display: flex;
  flex-direction: row;
  gap: 10px;

}

.Button button {
  padding: 15px 30px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;//sanfter Übergang

}

.Button button:hover {
  background-color: #2cdcdc;
  color: white;
}
