.all {
  display: flex;
  flex-wrap: wrap; // Umbruch der Produkte bei Bedarf
  gap: 10px; // Abstand zwischen den .Produkt-Elementen
  flex-direction: row;

}

.Produkt {
  border: 1px solid #04080c;
  padding: 10px;
  background-color: #ffffff;
  display: flex; /* Als Flex-Container anzeigen */
  flex-direction: column; /* Jedes Produkt ist eine Spalte */
  flex: 1; /* Alle .Produkt-Elemente gleichmäßig verteilen */
  max-width: 300px; /* Maximalbreite für jedes Produkt */
  margin-bottom: 15px;
  margin-right: 15px;

}

.Text {
  margin-bottom: 10px;
  color: black;
}

.descriptionAndImage {
  display: flex;
  align-items: center;
  border: 1px solid #04080c;
}

.description {
  flex: 1;
  margin-right: 20px;
  color: black;
}


.image {
  flex-shrink: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
}

.image {
  flex-shrink: 0;
  width: 100px;
  height: 80px;
  overflow: hidden;

}

.image img {
  width: 100%; /* Bildbreite auf 100% setzen */
  height: 100%; /* Bildhöhe auf 100% setzen */
  object-fit: cover; /* Bild so zuschneiden, dass es den Rahmen ausfüllt */
}

.descriptionAndImage{
  flex: 1;
  display: flex;
  justify-content: center;

////////////////////////////////////////
}
.Button {
  display: flex;
  flex-direction: row;
  gap: 10px; /* Abstand zwischen den Buttons */
}

.Button button {
  padding: 15px 30px; /* Größere Polsterung für den Button */
  font-size: 16px; /* Größere Schriftgröße */
  background-color: #4CAF50; /* Standard Hintergrundfarbe des Buttons */
  color: white; /* Standard Textfarbe des Buttons */
  border: none; /* Kein Rahmen um den Button */
  cursor: pointer; /* Mauszeiger wird zur Hand */
  transition: background-color 0.3s ease, color 0.3s ease; /* Sanfter Übergang */
}

.Button button:hover {
  background-color: #2cdcdc; /* Hintergrundfarbe ändern beim Hover */
  color: white; /* Textfarbe ändern beim Hover */
}
