<body>
<form class="container" (submit)="onLogin()">

  <label><b>Email</b></label>
  <input type="text" placeholder="Email eingeben" name="email" [(ngModel)]="email" required>

  <label><b>Passwort</b></label>
  <input type="password" placeholder="Passwort eingeben" name="psw" [(ngModel)]="password" required>

  <button type="submit" class="btn" >Login</button>
  <label>
    <input type="checkbox" checked="checked" name="remember"> Angemeldet bleiben
  </label>
</form>
<div style="text-align:center">
  <span class="psw">Passwort <a href="#">vergessen?</a></span> <br>
  <span class="register">Noch kein Konto? <a href="/register">Registrieren</a></span>
</div>

</body>







<ul>
  <li *ngFor="let user of UserList" >
    <p> {{user.name}} Konto</p>

  </li>
</ul>
