.produkt-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.produkt-item {
  background-color: #249acc;
  border: 1px solid #249acc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  max-width: 300px;
  padding: 20px;
  text-align: center;
}


.price {
  font-size: 20px;
  color: #04080c;
  font-weight: bold;
  margin-top: 10px;
}
.name {
  font-size: 20px;
  color: #04080c;
  font-weight: bold;
  margin-top: 10px;
}



//////////////////////////////
.Button button {
  padding: 15px 30px; /* Größere Polsterung für den Button */
  font-size: 16px; /* Größere Schriftgröße */
  background-color: #4CAF50; /* Standard Hintergrundfarbe des Buttons */
  color: #04080c; /* Standard Textfarbe des Buttons */
  border: none; /* Kein Rahmen um den Button */
  cursor: pointer; /* Mauszeiger wird zur Hand */
  transition: background-color 0.3s ease, color 0.3s ease; /* Sanfter Übergang */
  border-radius: 5px;
}

.Button button:hover {
  color: white; /* Textfarbe ändern beim Hover */
}
