.all {
  display: flex;
  flex-wrap: wrap; // Umbruch der Produkte bei Bedarf
  gap: 10px; // Abstand zwischen den .Produkt-Elementen
  flex-direction: row;

}


img {
  max-width: 100%; // Beispielstil
  height: 200px;   // Beispielstil
}


.price {
  font-size: 20px;
  color: #04080c;
  font-weight: bold;
  margin-top: 10px;
}
.name {
  font-size: 20px;
  color: #04080c;
  font-weight: bold;
  margin-top: 10px;
}



//////////////////////////////
.Button button {
  padding: 15px 30px; /* Größere Polsterung für den Button */
  font-size: 16px; /* Größere Schriftgröße */
  background-color: #4CAF50; /* Standard Hintergrundfarbe des Buttons */
  color: #04080c; /* Standard Textfarbe des Buttons */
  border: none; /* Kein Rahmen um den Button */
  cursor: pointer; /* Mauszeiger wird zur Hand */
  transition: background-color 0.3s ease, color 0.3s ease; /* Sanfter Übergang */
  border-radius: 5px;
}

.Button button:hover {
  color: white; /* Textfarbe ändern beim Hover */
}
