html, body, div, span, app-root {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html, body, div, span, app-root {
  font-size: 100%;
}


body {
  font-family: Arial, sans-serif;
  background-color: #04080c;
  color: #249acc;
}
